			<!DOCTYPE HTML>
<html>
<head>
	<title>Color FindEr</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/views/main9.css">
	<link rel="shortcut icon" href="favicon.ico">

</head>
<body>
	<div id="logo">
		<img src="/views/main_logo.png">
		<img src="/views/refresh.png" id="reset">
	</div>

	<div id="container">
		<div id="status">
		
			<div id="tbar_back">
				<div id="tbar"></div>
			</div>
			STAGE <span id="stage"></span><br>
		
		</div>
	
		<div id="init">
			<div id="object"></div>
		</div>

		<div id="append"></div>
		
		<br>
	</div>
	
	<div id="overlay_on"></div>
	<div id="overlay_off"></div>
   
	<script src="/views/main.js"></script>	

</body>
</html>