<!doctype html>
<html>
<head>

<title>CFR</title>
<link rel="stylesheet" type="text/css" href="/views/goplaymode.css">
</head>

<body>
<div id="header" align ="center">

<a href="/auth/login">
<input type="IMAGE" id = "button_out" src="/views/logoutbutton.png">
</a>

<img id = "profile_logo" src="/views/dark.png">

<a href="/auth/login_success">
<input type="IMAGE" id="button_profile" src="/views/profilebutton.png">
</a>


</div>
<div id="playbutton">
        
        <div align="center">
        <a href="/auth/game"><input type="IMAGE" src="/views/normalplay.png" style="height:200px; margin-right:10px"></a>
        <a href=""><input type="IMAGE" src="/views/blindlplay.png" style="height:200px; margin-left: 10px"></a>
        </div>
  
  
</div>
</body>
</html>
